<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Freelancer - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <script src="../static/js/echarts.js"></script>
    <!-- Custom CSS -->
    <link href="../static/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- jQuery Version 1.11.0 -->
    <script src="../static/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/js/jquery.easing.min.js"></script>
    <script src="../static/js/classie.js"></script>f
    <script src="../static/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../static/js/jqBootstrapValidation.js"></script>
    <script src="../static/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../static/js/freelancer.js"></script>

</head>

<body id="page-top" class="index">
<!-- 导航 -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <a class="navbar-brand" href="#page-top">豆瓣TOP100数据可视化分析</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!-- <li class="hidden">
                    <a href="#page-top"></a>
                </li> -->
                <li class="page-scroll">
                    <a href="#portfolio">数据图表</a>
                </li>
                <li class="page-scroll">
                    <a href="#about">相关技术</a>
                </li>

                <li class="page-scroll">
                    <a href="#contact">TOP100电影数据</a>
                </li>
                <li>
                    <a href="#foot">联系我</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>

<!-- 首页 -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="" src="../static/image/heart_cloud.png" alt="">
                <div class="intro-text">
                    <span class="name">使用技术</span>
                    <hr class="star-light">
                    <span class="skills">Python - Flask - Echarts - WordCloud</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- 图表页 -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br>
                <br>
                <h2>图表</h2>
                <br>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="../static/image/tu1.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="../static/image/tu2.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="../static/image/tu3.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="../static/image/tu4.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="../static/image/tu5.png" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<br>
<!-- 关于 -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br><br><br>
                <h2>关于</h2>
                <hr class="star-light">
            </div>
        </div>
        <!-- 3个div 详细说明 -->
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>&emsp;&emsp;此设计主要是为了分析电影的评论和电影的评分等相关数据而产生的，在这些分析的基础上，笔者认为从电影的评论中可以看到一部电影应该改进的地方，从评分中可以看到人民大众喜闻乐见的类型，人民大众喜闻乐见的文化才是好的文化，本次设计分析的内容可以反映出大部分网友的评分情况，也可以使用特定的方法来了解某一个网友的观影偏好、评分偏好、电影评论的情感的分等的指标，从而方便影视APP和平台向特定的人群推送他们所喜爱的电影类型，对电影推荐系统在一定程度上有辅助作用。</p>
            </div>
            <div class="col-lg-4">
                <p>&emsp;&emsp;对于电影的拍摄者而言，可以作为参考来查看一部电影何处需要改进何处需要继续保持等等。分析的结果在一定程度上也能反映出当前的观影人群喜爱的电影类型，电影制作者可以根据这一特点来进行电影制作，从而真正的达到电影评论改变电影的经济价值、社会价值、文化价值等。</p>
            </div>
            {#
            <div class="col-lg-8 col-lg-offset-2 text-center">#}
                {# <a href="#" class="btn btn-lg btn-outline">#}
                    {# <i class="fa fa-download"></i> Download Theme#}
                    {# </a>#}
                {#
            </div>
            #}
        </div>
    </div>
</section>

<!-- 项目列表 -->
<section id="contact">
    <div class="container">
        <!-- 标题 -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <br><br><br>
                <h2>Top100电影数据</h2>
                <hr class="star-primary">
            </div>
        </div>
        <!-- 列表 -->
        <div class="row">
            <!-- div的宽度 -->
            <div class="col-lg-10 col-lg-offset-1">
                <table class="table table-hover table-striped">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">排名</th>
                        <th scope="col">片名</th>
                        <th scope="col">评分</th>
                        <th scope="col">国家</th>
                        <th scope="col">年份</th>
                        <th scope="col">时长</th>
                        <th scope="col">详细页</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                    <tr>
                        <th scope="row">{{ item[0] }}</th>
                        <td>{{ item[1] }}</td>
                        <td>{{ item[2] }}</td>
                        <td>
                            {% for i in item[3] %}
                            {{ i }}
                            {% endfor %}
                        </td>
                        <td>{{ item[4] }}</td>
                        <td>{{ item[5] }}</td>
                        <td><a href="{{ item[6] }}" target="_blank">详细页</a></td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <!-- <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Email Address</label>
                            <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Phone Number</label>
                            <input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Message</label>
                            <textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-success btn-lg">Send</button>
                        </div>
                    </div>
                </form> -->
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer id="foot" class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Creation Date</h3>
                    <p>May 2023<br>by：GavenZh</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Contact Us</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="http://wpa.qq.com/msgrd?v=3&uin=1581363786&site=qq&menu=yes"
                               class="btn-social btn-outline"><i class="fa fa-fw fa-qq"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-wechat"></i></a>
                        </li>

                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>About this Page</h3>
                    <p>This page adopts bootstrap technology</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; 2023.Company name All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visble-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- 6个图 -->
<!-- 图1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <!-- 关闭按钮 -->
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <!-- 图表详细页面 -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Top20电影评分 - 柱状图</h2>
                        <hr class="star-primary">
                        <!-- img可替换为图表 -->
                        <!-- 图1 -->
                        <div id="main" style="width: 700px;height:400px;"></div>
                        <script type="text/javascript">
                            // 基于准备好的dom，初始化echarts实例
                            var myChart = echarts.init(document.getElementById('main'));
                            // 指定图表的配置项和数据
                            var option = {
                                title: {
                                    text: 'TOP20电影评分'
                                },
                                tooltip: {},
                                legend: {
                                    data: ['评分']
                                },
                                xAxis: {
                                    data: [{% for item in items[:20] %}'{{item[1]}}', {% endfor %}],
                                    axisTick: {alignWithLabel: true},
                                    axisLabel: {rotate: 45}
                                },
                                yAxis: {},
                                series: [{
                                        name: '评分',
                                        type: 'bar',
                                        data: [{% for item in items[:20] %}{{item[2]}},{% endfor %}]
                                }]
                                };
                            // 使用刚指定的配置项和数据显示图表。
                            myChart.setOption(option);
                        </script>
                        <!-- 图1 -->
                        <!-- 图表详细介绍说明字段 -->
                        <br>
                        <p>
                            柱形图，又称长条图、柱状统计图，是一种以长方形的长度为变量的统计图表，用来比较两个或以上的价值（不同时间或者不同条件），只有一个变量，通常利用于较小的数据集分析。本图横轴为片名，纵轴为评分，清晰反映出了Top20的影片评分对比情况，用户可以根据评分高低来选择自己想看的电影。</p>
                        <!-- 3个li标签，可删除，可补充信息 -->
                        <ul class="list-inline item-details">
                            <li>Type:
                                <strong><a href="#">Bar Chart</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="#">May 2023</a>
                                </strong>
                            </li>
                            <li>Author:
                                <strong><a href="#">GavenZh</a>
                                </strong>
                            </li>
                        </ul>
                        <!-- 底部关闭按钮 -->
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 图2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Top100各评分电影数量 - 饼状图</h2>
                        <hr class="star-primary">
                        {#TOP100电影评分饼图
                        9评分以上多少，8以上多少，弄成百分比#}
                        <div id="main2" style="width: 700px;height:400px;"></div>
                        <script type="text/javascript">
                            // 基于准备好的dom，初始化echarts实例
                            var myChart = echarts.init(document.getElementById('main2'));
                            // 指定图表的配置项和数据

                            var option = {
                                tooltip: {
                                    trigger: 'item'
                                },
                                title: {
                                    text: 'TOP100各评分电影数量数'
                                },
                                legend: {
                                    top: '5%',
                                    orient: 'vertical',
                                    left: 'left'
                                },
                                series: [{
                                        name: 'Access From',
                                        type: 'pie',
                                        radius: ['40%', '70%'],
                                        itemStyle: {
                                            borderRadius: 10,
                                            borderColor: '#fff',
                                            borderWidth: 2,
                                            normal: {
                                                label: {
                                                    show: true,
                                                    formatter: '{b}:{c} ({d}%)'
                                                }
                                            }
                                        },
                                        label: {
                                            show: false,
                                            position: 'center'
                                        },
                                        emphasis: {
                                            label: {
                                                show: true,
                                                fontSize: '20',
                                                fontWeight: 'bold'
                                            }
                                        },
                                        data: [
                                            {value: {{sum8}}, name:'8 - 8.9评分 '},
                                            {value:{{sum9}}, name:'9 - 10评分 '}
                                        ]
                                    }]
                                };
                            // 使用刚指定的配置项和数据显示图表。
                            myChart.setOption(option);
                        </script>
                        <p>
                            在工作中如果遇到需要查看各个部分构成比例的情况，一般都是通过各个部分与总额相除来计算，而且这种比例表示方法很抽象，我们可以使用一种饼形图表工具，能够直接以图形的方式直接显示各个组成部分所占比例。本图就详细反映了豆瓣Top100电影的各个评分对应的影片数量占比。</p>
                        <ul class="list-inline item-details">
                            <li>Type:
                                <strong><a href="#">Bar Chart</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="#">May 2023</a>
                                </strong>
                            </li>
                            <li>Author:
                                <strong><a href="#">GavenZh</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 图3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Top100上映日期与评分 - 散点图</h2>
                        <hr class="star-primary">
                        {#TOP100电影上映日期与评分-散点图
                        上映日期与电影数量，某个日期多少个电影 什么图？#}
                        <div id="main3" style="width: 800px;height: 400px;"></div>
                        <script type="text/javascript">
                            // 基于准备好的dom，初始化echarts实例
                            var myChart = echarts.init(document.getElementById('main3'));

                            // 指定图表的配置项和数据
                            var option = {
                                  tooltip: {
                                    trigger: 'axis',
                                    axisPointer: {
                                        type: 'shadow'
                                        }
                                    },
                                legend: {
                                    data: ['出品数']
                                },
                                xAxis: {
                                    data: [{% for i in date %}'{{i}}',{% endfor %}],
                                    axisLabel: {
                                        rotate: 90,
                                        fontSize: 10
                                    },
                                    axisTick: {
                                        alignWithLabel: true
                                    },
                                },
                                // dataZoom: {},
                                yAxis: {},
                                series: [{
                                        name: '出品数',
                                        type: 'bar',
                                        data: [{% for i in date_sum %}{{i}},{% endfor %}]
                                    }]
                            };

                            // 使用刚指定的配置项和数据显示图表。
                            myChart.setOption(option);
                        </script>
                        <p>
                            散点图用两组数据构成多个坐标点，考察坐标点的分布，判断两变量之间是否存在某种关联或总结坐标点的分布模式。本图统计了Top100电影上映日期与评分关系，可以看出前100名的20世纪的电影评分都是相对来说比较高的。</p>
                        <ul class="list-inline item-details">
                            <li>Type:
                                <strong><a href="#">Bar Chart</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="#">May 2023</a>
                                </strong>
                            </li>
                            <li>Author:
                                <strong><a href="#">GavenZh</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 图4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>TOP100影片时长 - 柱状图</h2>
                        <hr class="star-primary">
                        {#TOP100电影时长关系—柱状图
                        弄成横向的 #}
                        <div id="main4" style="width: 900px;height:700px;"></div>
                        <script type="text/javascript">
                            // 基于准备好的dom，初始化echarts实例
                            var myChart = echarts.init(document.getElementById('main4'));
                            // 指定图表的配置项和数据
                            var option = {
                                title: {
                                    text: 'TOP100电影时长'
                                },
                                tooltip: {},
                                legend: {
                                    data: ['时长']
                                },
                                xAxis: {
                                    type: 'value',
                                    // data: [{% for item in items %}'{{item[1]}}',{% endfor %}],
                                    // axisLabel: {
                                    //     rotate: 45
                                    // },
                                    // axisTick: {
                                    //     alignWithLabel: true
                                    // },
                                },
                                dataZoom: {
                                  show: true,
                                  yAxisIndex: 0,
                                  filterMode: 'empty',
                                  width: 30,
                                  height: '80%',
                                  showDataShadow: false,
                                  left: '93%'
                                },
                                yAxis: {
                                    type: 'category',
                                    data: [{% for item in items %}'{{item[1]}}',{% endfor %}],
                                },
                                series: [{
                                        name: '时长',
                                        type: 'bar',
                                        data: [{% for item in items %}{{item[5]}},{% endfor %}]
                                    }]
                            };
                            // 使用刚指定的配置项和数据显示图表。
                            myChart.setOption(option);
                        </script>
                        <br>
                        <p>当柱状图要表示的数据较多时，如果图表较小，则会使数据聚集在一堆不方便查看，Echarts的控件就地解决了这一点，可以让用户把刻度拖动到自己想要查看的数据区域以便进行分析。</p>
                        <ul class="list-inline item-details">
                            <li>Type:
                                <strong><a href="#">Bar Chart</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="#">May 2023</a>
                                </strong>
                            </li>
                            <li>Author:
                                <strong><a href="#">GavenZh</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 图5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>TOP100电影出品国家数</h2>
                        <hr class="star-primary">
                        {#前20电影柱状图
                        弄成饼图 百分比#}
                        <div id="main5" style="width: 700px;height:600px;"></div>
                        <script type="text/javascript">
                            // 基于准备好的dom，初始化echarts实例

                            var myChart = echarts.init(document.getElementById('main5'));
                            // 指定图表的配置项和数据
                            var option = {
                                title: {
                                    text: 'TOP100电影出品国家数'
                                },
                                tooltip: {
                                    trigger: 'item'
                                },
                                legend: {
                                    top: '3%',
                                    left: 'left'
                                },
                                series: [{
                                    name: 'Access From',
                                    type: 'pie',
                                    radius: ['40%', '70%'],
                                    avoidLabelOverlap: false,
                                        itemStyle: {
                                        borderRadius: 7,
                                        borderColor: '#fff',
                                        borderWidth: 2
                                    },
                                    label: {
                                        show: false,
                                        position: 'center'
                                    },
                                    emphasis: {
                                            label: {
                                            show: true,
                                            fontSize: '40',
                                            fontWeight: 'bold'
                                        }
                                    },
                                    labelLine: {
                                        show: false
                                    },
                                    data: [
                                    {% for key,value in county_items.items() %}
                                    { value: {{ value }}, name: '{{ key}}' },
                                    {% endfor %}
                                    ]
                                }]
                            };
                            // 使用刚指定的配置项和数据显示图表。
                            myChart.setOption(option);

                        </script>
                        <p>
                            本图是一个基础柱状图，描述了Top100的影片制作国家，大多影片都是多国合作拍摄，从图中很明显可以看出美国在电影行业中的优势，这也说明我国电影行业还需要更加用心，争取制作出更多的高质量大片。</p>
                        <ul class="list-inline item-details">
                            <li>Type:
                                <strong><a href="#">Bar Chart</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="#">May 2023</a>
                                </strong>
                            </li>
                            <li>Author:
                                <strong><a href="#">GavenZh</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>